header {
  background-color: lightyellow;
  height: 120px;
}

body {
  background-image: url(family.jpg);
}

img {
  align-content: center;
}

header li {
  float: left;
  Width: 150px;
  white-space: nowrap;
  color: salmon;
}
li {
  text-align: center;
  list-style: none;
  font-size: 2em;
  margin-left: 150px;
}

h1 {
  color: aquamarine;
  background-color: salmon;
  height: 100px;
}
section {
  background-color: aqua;
  margin-left: 20px;
}

ul > li {
  list-style-image: url(./liststyleimage-fish.png);
  margin-right: 20px;
}