header {
  height: 120px;
  margin-left: -300px;
}

img {
  align-content: center;
  margin-left: -300;
}

header li {
  float: left;
  Width: 150px;
  white-space: nowrap;
}
li {
  text-align: center;
  list-style: none;
  font-size: 2em;
  margin-left: 375px;
}

h1 {
  color: aqua;
  background-color: salmon;
  height: 100px;
  text-align: center;
}
section {
  background-color: aqua;
  margin-top: 0px;
  margin-left: -400px;
}

ul > li {
  list-style-image: url(./liststyleimage-fish.png);
  margin-right: 20px;
}

body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-image: url("chin.png");
}